// Fonts

@font-face {
  font-family: 'Raleway', sans-serif;
  src:
    url('/fonts/Raleway/Raleway-Black.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-BlackItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Bold.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-BoldItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-ExtraBoldItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-ExtraLightItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Italic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Light.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-LightItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Medium.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-MediumItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-SemiBoldItalic.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-Thin.ttf') format('truetype'),
    url('/fonts/Raleway/Raleway-ThinItalic.ttf') format('truetype');
}

$font-raleway: 'Raleway', sans-serif;
