/* stylelint-disable comment-empty-line-before */

// A

// B

// C

// D

// E

// F
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 100;

// G

// H

// I

// J

// K

// L

// M
$max-width: 1600px;

// N

// O

// P

// Q

// R
$ratio: 0;

// S
/* @see http://mekalab.fr/taille-des-ecrans-responsive-design-et-point-de-rupture/ */
$screen-desktop: 1600px;
$screen-tablet-landscape: 1024px;
$screen-tablet-portrait: 740px;
$screen-mobile-landscape: 720px;
$screen-mobile-portrait: 480px;
$screen-mobile-short: 320px;

// T

// W

// X

// Y

// Z
