/*
  _      _ _               _      _
 | |    (_) |             (_)    (_)
 | |     _| |__  _ __ __ _ _ _ __ _  ___  ___
 | |    | | '_ \| '__/ _` | | '__| |/ _ \/ __|
 | |____| | |_) | | | (_| | | |  | |  __/\__ \
 |______|_|_.__/|_|  \__,_|_|_|  |_|\___||___/
*/
/*
   _____
  / ____|
 | (___   __ _ ___ ___
  \___ \ / _` / __/ __|
  ____) | (_| \__ \__ \
 |_____/ \__,_|___/___/
*/
*,
*::before,
*::after {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

main {
  display: block; }

ol,
ul,
li {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  border: 0; }

img {
  display: block; }

button {
  margin: 0;
  padding: 0;
  width: auto;
  border: 0;
  overflow: visible;
  cursor: pointer;
  background: none; }

select {
  border: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

textarea {
  resize: none; }

/* stylelint-disable max-empty-lines */
@font-face {
  font-family: 'Raleway', sans-serif;
  src: url("/fonts/Raleway/Raleway-Black.ttf") format("truetype"), url("/fonts/Raleway/Raleway-BlackItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Bold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-BoldItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ExtraLight.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ExtraLightItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Italic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Light.ttf") format("truetype"), url("/fonts/Raleway/Raleway-LightItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Medium.ttf") format("truetype"), url("/fonts/Raleway/Raleway-MediumItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Regular.ttf") format("truetype"), url("/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype"), url("/fonts/Raleway/Raleway-SemiBoldItalic.ttf") format("truetype"), url("/fonts/Raleway/Raleway-Thin.ttf") format("truetype"), url("/fonts/Raleway/Raleway-ThinItalic.ttf") format("truetype"); }

/* stylelint-disable comment-empty-line-before */
/* @see http://mekalab.fr/taille-des-ecrans-responsive-design-et-point-de-rupture/ */
/* stylelint-disable max-empty-lines */
@-webkit-keyframes checkbox-anim {
  0% {
    transform: scale(1); }
  50% {
    transform: scaleY(0.8) scaleX(1.2); }
  97%, 100% {
    transform: scale(1); } }

@-moz-keyframes checkbox-anim {
  0% {
    transform: scale(1); }
  50% {
    transform: scaleY(0.8) scaleX(1.2); }
  97%, 100% {
    transform: scale(1); } }

@-o-keyframes checkbox-anim {
  0% {
    transform: scale(1); }
  50% {
    transform: scaleY(0.8) scaleX(1.2); }
  97%, 100% {
    transform: scale(1); } }

@keyframes checkbox-anim {
  0% {
    transform: scale(1); }
  50% {
    transform: scaleY(0.8) scaleX(1.2); }
  97%, 100% {
    transform: scale(1); } }

.bold-dft {
  font-weight: bold; }

.container-dft {
  display: block; }

.center-dft {
  text-align: center; }

.crs-pointer-dft {
  cursor: pointer; }

.el-hide-dft {
  display: none; }

.line-through-dft {
  text-decoration: line-through; }

.underline-dft {
  text-decoration: underline; }

.uppercase-dft {
  text-transform: uppercase; }

/*
          _
     /\  | |
    /  \ | |_ ___  _ __ ___  ___
   / /\ \| __/ _ \| '_ ` _ \/ __|
  / ____ \ || (_) | | | | | \__ \
 /_/    \_\__\___/|_| |_| |_|___/
*/
/*
  __  __       _                 _
 |  \/  |     | |               | |
 | \  / | ___ | | ___  ___ _   _| | ___  ___
 | |\/| |/ _ \| |/ _ \/ __| | | | |/ _ \/ __|
 | |  | | (_) | |  __/ (__| |_| | |  __/\__ \
 |_|  |_|\___/|_|\___|\___|\__,_|_|\___||___/
*/
/*
  _____           _   _       _
 |  __ \         | | (_)     | |
 | |__) |_ _ _ __| |_ _  __ _| |___
 |  ___/ _` | '__| __| |/ _` | / __|
 | |  | (_| | |  | |_| | (_| | \__ \
 |_|   \__,_|_|   \__|_|\__,_|_|___/
*/
/*
  _                             _
 | |                           | |
 | |     __ _ _   _  ___  _   _| |_ ___
 | |    / _` | | | |/ _ \| | | | __/ __|
 | |___| (_| | |_| | (_) | |_| | |_\__ \
 |______\__,_|\__, |\___/ \__,_|\__|___/
               __/ |
              |___/
*/
/*
  _____
 |  __  \
 | |__) |_ _  __ _  ___  ___
 |  ___/ _` |/ _` |/ _ \/ __|
 | |  | (_| | (_| |  __/\__ \
 |_|   \__,_|\__, |\___||___/
              __/ |
             |___/
*/
