// A

// B

// C
@-webkit-keyframes checkbox-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.80) scaleX(1.2);
  }
  
  97%, 100% {
    transform: scale(1);
  }
}

@-moz-keyframes checkbox-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.80) scaleX(1.2);
  }
  
  97%, 100% {
    transform: scale(1);
  }
}

@-o-keyframes checkbox-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.80) scaleX(1.2);
  }
  
  97%, 100% {
    transform: scale(1);
  }
}

@keyframes checkbox-anim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scaleY(0.80) scaleX(1.2);
  }
  
  97%, 100% {
    transform: scale(1);
  }
}

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R

// S

// T

// W

// X

// Y

// Z